# ErgoBoost Requirements
# Core
PySide6>=6.5
opencv-python>=4.8
mediapipe==0.10.10
numpy>=1.24
PyYAML>=6.0
matplotlib>=3.7
psutil>=5.9
# ML Training
scikit-learn>=1.3
pandas>=2.0

# Windows notifications (Windows only)
winotify>=1.1.0; sys_platform == 'win32'

# Big Data (for diploma)
# pyspark>=3.5
# Download sqlite-jdbc jar separately into libs/

# Optional: sound alerts
# playsound>=1.3
